* {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1));
    justify-content: center;
}

h4 {
    font-weight: 100;
}

.single-city {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(2, 0, 36, 1);
    background-color: gainsboro;
    margin-bottom: 4%;
    padding: 2%;
    line-height: 0.7;
    font-size: 110%;
}

.forecast-block {
    display: flex;
    justify-content: space-around;
}

.date-block {
    display: flex;
    justify-content: space-around;

}

.date-card {
    background-color: sienna;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1%;
    color: white;
    text-align: center;
    font-weight: 300;
}

.day-block {
    background-color: rgb(18, 18, 89);
    border: 2px solid white;
    border-radius: 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.day-block,
h4 {
    font-size: 105%;
}

.big-block {
    font-weight: 300;
}

.bigger-block {
    font-weight: 700;
}

.icon {
    width: 75px;
    height: auto;
}