* {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1));
    justify-content: center;
}

h4 {
    font-weight: 100;
}

.single-city {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(2, 0, 36, 1);
    margin-bottom: 5%;
    padding: 2%;
}

.forecast-block {
    display: flex;
    justify-content: space-around;
}

.day-block {
    background-color: rgb(18, 18, 89);
    border: 2px solid white;
    border-radius: 10px;
    padding: 1%;
    color: white;
    text-align: center;
}

.big-block {
    font-size: 140%;
    font-weight: 300;
}

.bigger-block {
    font-size: 185%;
    font-weight: 700;
}

/* .recent-search-button {
    background-color: lightgray;
    border-radius: 10px;
    color: black;
} */